{% extends 'election_app/base.html' %}
{% block content %}
<div class="container text-center pb-5">
    <div class="pt-5">
        {% for msg in messages %}
        <div class="alert alert-danger alert-dismissible fade show container" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <h1 class="fw-bold">Tentang</h1>
    </div>
    <div class="pt-5">
        <div class="row align-item-center h-100">
            <div class="col-7 mx-auto">
                <div class="card h-100 justify-content-center shadow border-dark">
                    <div class="card-body">
                        <h3>Tentang kami</h3>
                        <hr>
                        <table class="table text-start">
                            <tr>
                                <th>Proyek</th>
                                <td>:</td>
                                <td>Membuat aplikasi menggunakan bahasa Python</td>
                            </tr>
                            <tr>
                                <th>Kelompok</th>
                                <td>:</td>
                                <td>L</td>
                            </tr>
                            <tr>
                                <th>Anggota</th>
                                <td>:</td>
                                <td>Billy Kwek, Andi Darmawan, Aryo Wibowo, Awang Siddiq, Bayu Setiyawan</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5">
        <div class="row align-item-center h-100">
            <div class="col-7 mx-auto">
                <div class="card h-100 justify-content-center shadow border-dark">
                    <div class="card-body">
                        <h3>Tentang aplikasi</h3>
                        <hr>
                        <table class="table text-start">
                            <tr>
                                <th>Nama</th>
                                <td>:</td>
                                <td>Electronic Voting System</td>
                            </tr>
                            <tr>
                                <th>Deskripsi</th>
                                <td>:</td>
                                <td>Aplikasi voting elektronik berbasis web</td>
                            </tr>
                            <tr>
                                <th>Front-End</th>
                                <td>:</td>
                                <td>HTML, CSS, Bootstrap, Javascript</td>
                            </tr>
                            <tr>
                                <th>Back-End</th>
                                <td>:</td>
                                <td>Python, Django</td>
                            </tr>
                            <tr>
                                <th>Database</th>
                                <td>:</td>
                                <td>SQLite</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}