{% extends 'election_app/base.html' %}
{% block content %}

<div class="d-flex flex-column align-content-center text-center">
    <div class="p-5 align-self-center">
        <h2>Selamat datang di</h2>
        <h1 class="fw-bold">Electronic Voting System</h1>
        <span class="fs-4">Untuk</span>
        <h3 class="mb-5">"Pemilihan Kepala Desa Konoha"</h3>
        <span class="fs-5 fw-bold mb-4">Silakan melakukan verifikasi DPT untuk melakukan voting</span>
        <div class="d-flex flex-column">
            <form action="dpt_validation/" method="POST">
                {% csrf_token %}
                <!-- No. DPT input -->
                <div class="form-outline mb-4">
                    <span>Nomor DPT</span>
                    <input type="text" class="form-control text-center" name="no_dpt" placeholder="Masukkan nomor DPT">
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Validasi</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}