{% extends 'election_app/base.html' %}
{% load static %}
{% block content %}

<div class="d-flex flex-column align-content-center text-center">
    <div class="p-5 mb-5 align-self-center">
        <h1 class="fw-bold">Statistik</h1>
        <h2>Hasil real count</h2>
        <h3 class="mb-5"><span class="fs-4">Untuk</span><br>"Pemilihan Kepala Desa Konoha"</h3>
        <div class="d-flex flex-column">
            <div class="d-flex mb-4 justify-content-center">
                {% for x in candidate %}
                <div class="card m-3 w-75 shadow">
                    <div class="card-header bg-dark text-white">
                        <h2 class="fw-bold">Calon {{ x.id }}</h2>
                    </div>
                    <div class="card-body">
                        <img src="{% static 'images/avatar.jpg' %}" alt="" height="250px">
                    </div>
                    <div class="card-footer text-start">
                        <h6>Nama: {{ x.candidate }}</h6>
                        <h6>Perolehan suara: {{ x.votes }}</h6>
                    </div>
                </div>
                {% endfor %}
            </div>
            <table class="table shadow">
                <thead class="table-dark">
                    <tr class="fw-bold">
                        <th>No.</th>
                        <th>Nama Calon</th>
                        <th>Perolehan Suara</th>
                    </tr>
                </thead>
                {% for x in candidate %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.candidate }}</td>
                    <td>{{ x.votes }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="mt-5">
                <canvas id="myChart" style="height:100%;width:100%;max-height:300px;max-width:300px;"></canvas>
                <script>
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [{% for x in candidate %} '{{ x.candidate }}', {% endfor %}],
                    datasets: [{
                        label: '# of Votes',
                        data: [{% for x in candidate %} '{{ x.votes }}', {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                    }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                    });
                </script>
            </div>
        </div>
    </div>
</div>


{% endblock %}